body {
    margin: 0;
    padding: 0;
    background-color: #1E2019;
    overflow-x: hidden;
}


.title h1 {
    margin-top: 5%;
    font-weight: 100;
    letter-spacing: 6;
    font-size: 4em;
    color: #FBB13C;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}


/*Gallery image*/
#rig {
    max-width:400vh;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#1E2019;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #FBB13C url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:30px;
    font-weight:bold;
    font-family: 'Merriweather', serif;
    font-weight:normal!important;
    top:40%;
    color:#000;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media screen and (max-width:350px) {
    .container {
        margin-top: 17vh;
    }
    .title h1 {
        text-align: center;
        font-size: 2.5em;
    }
    #rig {
        display: flex;
        flex-direction: column;

        /* margin-left: 40px; */
    }

    .rig-cell {
        width: 190px;
        margin-left: 70px;
    }

    .rig-text {
        font-size: 15px;
    }
}

@media screen and (min-width: 350px) and (max-width:800px) {
    .container {
        margin-top: 17vh;
    }
        
    #rig li {
        width: 50%;
    }

    .title h1 {
        text-align: center;
        font-size: 2.5em;
    }
}



/*PopUp*/
.popup{
    width: 100%;
    display: none;

    position: fixed;
    top: 0;
    right: 0;
 }
  
  #popup-cpme:target,
  #popup-prestashop:target,
  #popup-avlm:target,
  #popup-admin:target,
  #popup-api:target,
  #popup-burgerCode:target,
  #popup-loso:target {
    display: flex;
  }

  .imageContainer {
      margin: 30px auto;
  }

  .imageContainer img {
      max-width: 900px;
      max-height: 900px;
  }
  
  .popup:before{
    content: "";
    box-sizing: border-box;
    width: 100%;
    background-color: #FFFCE8;
  
    position: absolute;
    left: 0;
    top: 50%;
    will-change: height, top;
    animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
  }
  
  .popup:after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #f0f0f0;
  
    will-change: width, opacity;
    animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
  
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
  }
  
  @keyframes line-animation{
  
    0%{
      width: 0;
      opacity: 1;
    }
  
    99%{
      width: 100%;
      opacity: 1;
    }
  
    100%{
      width: 100%;
      opacity: 0;
    }  
  }
  
  @keyframes open-animation{
  
    0%{
      height: 0;
      top: 50%;
    }
  
    100%{
      height: 100vh;
      top: 0;
    }
  }
  
  .popup__block{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    padding: 5% 15%;
    box-sizing: border-box;
    margin: auto;
    animation: fade .5s ease-out 1.3s both;
  }
  
  @keyframes fade{
  
    0%{
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
  
  .popup__title{
    font-size: 2.5rem;
    margin: 0 0 1em;
    margin-bottom: 10px;
    text-align: center;
  }

  /* .siteDescription {
      text-align: center;
      font-family: 'Merriweather', serif;
      align-content: stretch;
  } */

  .button {
    font-family: 'Merriweather', serif;
    background: #FBB13C;
    border: 1px solid #FBB13C;
    border-radius: 30px;
    size: 3em;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: #000;
  }

  .siteDescription {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.siteDescription img {
    height: 70px;
    width: 70px;
}
  
  .devIcon {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

  .devIcon svg {
    height: 70px;
    width: 70px;
  }
  
  .popup__close{
    width: 3.2rem;
    height: 3.2rem;
    text-indent: -9999px;
    
    position: fixed;
    top: 20px;
    right: 20px;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
  }

  @media screen and (max-width:800px) {
    
    .popup {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .popup__title {
        margin-top: 70px;
        font-size: 1.5em;
    }

    .popup__block {
        width: 100%;
        padding: 5%;
        overflow: auto;
    }

    .siteDescription p {
        text-align: center;
        font-size: 15px;
    }

    .imageContainer img {
        width: 100%;
    }

    .devIcon {
        width: 250px;
    }

    .siteDescription img {
        height: 50px;
        width: 50px;
    }

    .devIcon svg {
        height: 50px;
        width: 50px;
      }
}

@media screen and (max-width:1930px) {
    .popup {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .popup__block {
        width: 100%;
        padding: 5%;
        overflow: auto;
    }
}